{
  "openapi": "3.1.0",
  "info": {
    "title": "KMail API",
    "version": "1.0.0",
    "summary": "Tenant-scoped administrative, provisioning, and discovery API for KMail.",
    "description": "# KMail API\n\nThe KMail API is a tenant-scoped REST API for administering mail,\ncalendars, contacts, billing, deliverability, and security. Mailbox\ndata access (reading/sending mail, syncing folders) uses **JMAP** at\n`/jmap`; this reference covers the `/api/v1` administrative surface,\nthe **SCIM 2.0** provisioning API at `/scim/v2`, and autodiscovery\nendpoints under `/.well-known`.\n\nAll responses include an `X-KMail-Correlation-Id` header for tracing.\n\n## Authentication\n\nMost endpoints require an **OIDC bearer token**:\n\n```\nAuthorization: Bearer <access_token>\n```\n\nObtain a token from your configured OIDC provider (the token's claims\nidentify the tenant and user). Requests without a valid token receive\n`401 Unauthorized`; valid tokens lacking the required role receive\n`403 Forbidden`. Every endpoint is tenant-scoped and isolated with\nPostgreSQL row-level security — you can only ever see your own tenant's\ndata.\n\nA small number of endpoints are intentionally **public** (no bearer\ntoken): `POST /api/v1/signup` and its status polling route, the\nConfidential Send recipient portal (`/api/v1/secure/{token}`), and the\n`/.well-known/*` autodiscovery documents. Everything under\n`/api/v1/send/{id}` (the undo-send status and cancel endpoints) is\nauthenticated and requires a bearer token.\n\n### SCIM tokens\n\nThe SCIM provisioning API (`/scim/v2`) authenticates with a dedicated\nbearer token you mint per tenant (`POST /api/v1/tenants/{id}/scim/tokens`)\nand configure in your identity provider. See the\n[SCIM provisioning guide](/help/admin/scim-provisioning).\n\n## Webhooks\n\nRegister HTTPS endpoints (`POST /api/v1/integ/webhooks`) to receive\nevents: `email.received`, `email.bounced`, `email.complaint`,\n`calendar.event_created`, `calendar.event_updated`,\n`migration.completed`, plus a `webhook.ping` test delivery. Each\ndelivery is signed with HMAC-SHA256 in the `X-KMail-Signature` header.\nSee the full [webhook event catalog](/help/admin/webhook-events) for the\nsignature scheme and verification examples.\n\n## Errors\n\nErrors use standard HTTP status codes with a JSON body:\n\n```json\n{ \"error\": \"human readable message\", \"code\": \"machine_code\" }\n```\n\n## Versioning\n\nThe base path is `/api/v1`. Breaking changes bump the major version;\nadditive changes (new fields, new endpoints) do not.",
    "contact": {
      "name": "KMail API support",
      "email": "support@kmail.kchat.dev"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.kmail.kchat.dev",
      "description": "Production"
    },
    {
      "url": "http://localhost:8088",
      "description": "Local development (BFF)"
    }
  ],
  "tags": [
    {
      "name": "Signup"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Tenants & Admin"
    },
    {
      "name": "Mail"
    },
    {
      "name": "Shared Inboxes"
    },
    {
      "name": "Confidential Send"
    },
    {
      "name": "Calendars"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Migration"
    },
    {
      "name": "Webhooks & Integrations"
    },
    {
      "name": "SCIM"
    },
    {
      "name": "Push"
    },
    {
      "name": "Search"
    },
    {
      "name": "Storage"
    },
    {
      "name": "Chat Bridge"
    },
    {
      "name": "Platform Admin"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/.well-known/autoconfig/mail/config-v1.1.xml": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "List Config V1.1.Xml",
        "operationId": "get_.well-known_autoconfig_mail_config-v1.1.xml",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": []
      }
    },
    "/.well-known/caldav": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "List Caldav",
        "operationId": "get_.well-known_caldav",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": []
      }
    },
    "/api/v1/admin/feature-flags": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Feature Flags",
        "operationId": "get_api_v1_admin_feature-flags",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Replace Feature Flags",
        "operationId": "put_api_v1_admin_feature-flags",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/ip-pools": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Ip Pools",
        "operationId": "get_api_v1_admin_ip-pools",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Ip Pools",
        "operationId": "post_api_v1_admin_ip-pools",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/ip-pools/{id}/ips": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Ips",
        "operationId": "get_api_v1_admin_ip-pools_id_ips",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Ips",
        "operationId": "post_api_v1_admin_ip-pools_id_ips",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/ip-reputation": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Ip Reputation",
        "operationId": "get_api_v1_admin_ip-reputation",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/admin/ip-reputation/{ipId}/history": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List History",
        "operationId": "get_api_v1_admin_ip-reputation_ipId_history",
        "parameters": [
          {
            "name": "ipId",
            "in": "path",
            "required": true,
            "description": "`ipId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/admin/proxy/{tenantId}/access": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Access",
        "operationId": "post_api_v1_admin_proxy_tenantId_access",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "description": "`tenantId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/proxy/{tenantId}/sessions": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Sessions",
        "operationId": "get_api_v1_admin_proxy_tenantId_sessions",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "description": "`tenantId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/admin/proxy/{tenantId}/sessions/{sessionId}/revoke": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Revoke",
        "operationId": "post_api_v1_admin_proxy_tenantId_sessions_sessionId_revoke",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "description": "`tenantId` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "`sessionId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/shards": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Shards",
        "operationId": "get_api_v1_admin_shards",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Shards",
        "operationId": "post_api_v1_admin_shards",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/shards/{id}": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get Shards",
        "operationId": "get_api_v1_admin_shards_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Replace Shards",
        "operationId": "put_api_v1_admin_shards_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/shards/{id}/rebalance": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Rebalance",
        "operationId": "post_api_v1_admin_shards_id_rebalance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/shards/health": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Health",
        "operationId": "get_api_v1_admin_shards_health",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/admin/slo": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Slo",
        "operationId": "get_api_v1_admin_slo",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/admin/slo/{tenantId}": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get Slo",
        "operationId": "get_api_v1_admin_slo_tenantId",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "description": "`tenantId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/admin/slo/breaches": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Breaches",
        "operationId": "get_api_v1_admin_slo_breaches",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/admin/slo/regions": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Regions",
        "operationId": "get_api_v1_admin_slo_regions",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/attachments/{id}": {
      "delete": {
        "tags": [
          "Mail"
        ],
        "summary": "Delete Attachments",
        "operationId": "delete_api_v1_attachments_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/attachments/{id}/link": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "List Link",
        "operationId": "get_api_v1_attachments_id_link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/attachments/upload": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Create Upload",
        "operationId": "post_api_v1_attachments_upload",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/totp": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Delete Totp",
        "operationId": "delete_api_v1_auth_totp",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/auth/totp/check": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Check",
        "operationId": "post_api_v1_auth_totp_check",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/totp/enroll": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Enroll",
        "operationId": "post_api_v1_auth_totp_enroll",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/totp/status": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List Status",
        "operationId": "get_api_v1_auth_totp_status",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/auth/totp/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Verify",
        "operationId": "post_api_v1_auth_totp_verify",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/webauthn/credentials": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List Credentials",
        "operationId": "get_api_v1_auth_webauthn_credentials",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/auth/webauthn/credentials/{id}": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Delete Credentials",
        "operationId": "delete_api_v1_auth_webauthn_credentials_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/auth/webauthn/login/begin": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Begin",
        "operationId": "post_api_v1_auth_webauthn_login_begin",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/webauthn/login/finish": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Finish",
        "operationId": "post_api_v1_auth_webauthn_login_finish",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/webauthn/register/begin": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Begin",
        "operationId": "post_api_v1_auth_webauthn_register_begin",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/webauthn/register/finish": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create Finish",
        "operationId": "post_api_v1_auth_webauthn_register_finish",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/webhooks/stripe": {
      "post": {
        "tags": [
          "API"
        ],
        "summary": "Create Stripe",
        "operationId": "post_api_v1_billing_webhooks_stripe",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars": {
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Create Calendars",
        "operationId": "post_api_v1_calendars",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{accountID}": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "Get Calendars",
        "operationId": "get_api_v1_calendars_accountID",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/calendars/{accountID}/{calendarID}/events": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "List Events",
        "operationId": "get_api_v1_calendars_accountID_calendarID_events",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarID",
            "in": "path",
            "required": true,
            "description": "`calendarID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Create Events",
        "operationId": "post_api_v1_calendars_accountID_calendarID_events",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarID",
            "in": "path",
            "required": true,
            "description": "`calendarID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{accountID}/{calendarID}/events/{eventUID}": {
      "delete": {
        "tags": [
          "Calendars"
        ],
        "summary": "Delete Events",
        "operationId": "delete_api_v1_calendars_accountID_calendarID_events_eventUID",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarID",
            "in": "path",
            "required": true,
            "description": "`calendarID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventUID",
            "in": "path",
            "required": true,
            "description": "`eventUID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Calendars"
        ],
        "summary": "Replace Events",
        "operationId": "put_api_v1_calendars_accountID_calendarID_events_eventUID",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarID",
            "in": "path",
            "required": true,
            "description": "`calendarID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventUID",
            "in": "path",
            "required": true,
            "description": "`eventUID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{accountID}/{calendarID}/events/{eventUID}/respond": {
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Create Respond",
        "operationId": "post_api_v1_calendars_accountID_calendarID_events_eventUID_respond",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarID",
            "in": "path",
            "required": true,
            "description": "`calendarID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventUID",
            "in": "path",
            "required": true,
            "description": "`eventUID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{accountID}/{calendarID}/freebusy": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "List Freebusy",
        "operationId": "get_api_v1_calendars_accountID_calendarID_freebusy",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calendarID",
            "in": "path",
            "required": true,
            "description": "`calendarID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/calendars/{calendarId}/notification-channel": {
      "delete": {
        "tags": [
          "Calendars"
        ],
        "summary": "Delete Notification Channel",
        "operationId": "delete_api_v1_calendars_calendarId_notification-channel",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "description": "`calendarId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "List Notification Channel",
        "operationId": "get_api_v1_calendars_calendarId_notification-channel",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "description": "`calendarId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Calendars"
        ],
        "summary": "Replace Notification Channel",
        "operationId": "put_api_v1_calendars_calendarId_notification-channel",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "required": true,
            "description": "`calendarId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{id}": {
      "delete": {
        "tags": [
          "Calendars"
        ],
        "summary": "Delete Calendars",
        "operationId": "delete_api_v1_calendars_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Calendars"
        ],
        "summary": "Replace Calendars",
        "operationId": "put_api_v1_calendars_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{id}/book": {
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Create Book",
        "operationId": "post_api_v1_calendars_id_book",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/{id}/share": {
      "post": {
        "tags": [
          "Calendars"
        ],
        "summary": "Create Share",
        "operationId": "post_api_v1_calendars_id_share",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/calendars/shared": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "List Shared",
        "operationId": "get_api_v1_calendars_shared",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/chat-bridge/routes": {
      "get": {
        "tags": [
          "Chat Bridge"
        ],
        "summary": "List Routes",
        "operationId": "get_api_v1_chat-bridge_routes",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Chat Bridge"
        ],
        "summary": "Create Routes",
        "operationId": "post_api_v1_chat-bridge_routes",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/chat-bridge/routes/{routeID}": {
      "delete": {
        "tags": [
          "Chat Bridge"
        ],
        "summary": "Delete Routes",
        "operationId": "delete_api_v1_chat-bridge_routes_routeID",
        "parameters": [
          {
            "name": "routeID",
            "in": "path",
            "required": true,
            "description": "`routeID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/chat-bridge/share": {
      "post": {
        "tags": [
          "Chat Bridge"
        ],
        "summary": "Create Share",
        "operationId": "post_api_v1_chat-bridge_share",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/{accountID}/{addressBookID}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get {AccountID}",
        "operationId": "get_api_v1_contacts_accountID_addressBookID",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressBookID",
            "in": "path",
            "required": true,
            "description": "`addressBookID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create {AccountID}",
        "operationId": "post_api_v1_contacts_accountID_addressBookID",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressBookID",
            "in": "path",
            "required": true,
            "description": "`addressBookID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/{accountID}/{addressBookID}/{uid}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete {AddressBookID}",
        "operationId": "delete_api_v1_contacts_accountID_addressBookID_uid",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressBookID",
            "in": "path",
            "required": true,
            "description": "`addressBookID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "`uid` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get {AddressBookID}",
        "operationId": "get_api_v1_contacts_accountID_addressBookID_uid",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressBookID",
            "in": "path",
            "required": true,
            "description": "`addressBookID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "`uid` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Replace {AddressBookID}",
        "operationId": "put_api_v1_contacts_accountID_addressBookID_uid",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressBookID",
            "in": "path",
            "required": true,
            "description": "`addressBookID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "`uid` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/{accountID}/{addressBookID}/export": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Export",
        "operationId": "get_api_v1_contacts_accountID_addressBookID_export",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressBookID",
            "in": "path",
            "required": true,
            "description": "`addressBookID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/contacts/{accountID}/{addressBookID}/import": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Import",
        "operationId": "post_api_v1_contacts_accountID_addressBookID_import",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressBookID",
            "in": "path",
            "required": true,
            "description": "`addressBookID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/{accountID}/addressbooks": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Addressbooks",
        "operationId": "get_api_v1_contacts_accountID_addressbooks",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "required": true,
            "description": "`accountID` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/contacts/frequent": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Frequent",
        "operationId": "get_api_v1_contacts_frequent",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/contacts/gal": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Gal",
        "operationId": "get_api_v1_contacts_gal",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/contacts/gal/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Search",
        "operationId": "get_api_v1_contacts_gal_search",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/contacts/gal/sync": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Sync",
        "operationId": "post_api_v1_contacts_gal_sync",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/record": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Record",
        "operationId": "post_api_v1_contacts_record",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/suggestions": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Suggestions",
        "operationId": "get_api_v1_contacts_suggestions",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/email-analytics": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "List Email Analytics",
        "operationId": "get_api_v1_email-analytics",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/emails/{id}/smart-replies": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "List Smart Replies",
        "operationId": "get_api_v1_emails_id_smart-replies",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/emails/{id}/unsubscribe": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "List Unsubscribe",
        "operationId": "get_api_v1_emails_id_unsubscribe",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Create Unsubscribe",
        "operationId": "post_api_v1_emails_id_unsubscribe",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/emails/categories": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Create Categories",
        "operationId": "post_api_v1_emails_categories",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/integ/webhooks": {
      "get": {
        "tags": [
          "Webhooks & Integrations"
        ],
        "summary": "List Webhooks",
        "operationId": "get_api_v1_integ_webhooks",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks & Integrations"
        ],
        "summary": "Create Webhooks",
        "operationId": "post_api_v1_integ_webhooks",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/integ/webhooks/{webhookId}": {
      "delete": {
        "tags": [
          "Webhooks & Integrations"
        ],
        "summary": "Delete Webhooks",
        "operationId": "delete_api_v1_integ_webhooks_webhookId",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "`webhookId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/integ/webhooks/{webhookId}/test": {
      "post": {
        "tags": [
          "Webhooks & Integrations"
        ],
        "summary": "Create Test",
        "operationId": "post_api_v1_integ_webhooks_webhookId_test",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "`webhookId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/malware/scan": {
      "post": {
        "tags": [
          "API"
        ],
        "summary": "Create Scan",
        "operationId": "post_api_v1_malware_scan",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/migrations": {
      "get": {
        "tags": [
          "Migration"
        ],
        "summary": "List Migrations",
        "operationId": "get_api_v1_migrations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Migration"
        ],
        "summary": "Create Migrations",
        "operationId": "post_api_v1_migrations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/migrations/{jobId}": {
      "delete": {
        "tags": [
          "Migration"
        ],
        "summary": "Delete Migrations",
        "operationId": "delete_api_v1_migrations_jobId",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "`jobId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "tags": [
          "Migration"
        ],
        "summary": "Get Migrations",
        "operationId": "get_api_v1_migrations_jobId",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "`jobId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/migrations/{jobId}/pause": {
      "post": {
        "tags": [
          "Migration"
        ],
        "summary": "Create Pause",
        "operationId": "post_api_v1_migrations_jobId_pause",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "`jobId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/migrations/{jobId}/resume": {
      "post": {
        "tags": [
          "Migration"
        ],
        "summary": "Create Resume",
        "operationId": "post_api_v1_migrations_jobId_resume",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "`jobId` path parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/migrations/test-connection": {
      "post": {
        "tags": [
          "Migration"
        ],
        "summary": "Create Test Connection",
        "operationId": "post_api_v1_migrations_test-connection",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/priority-inbox": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "List Priority Inbox",
        "operationId": "get_api_v1_priority-inbox",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/push/preferences": {
      "get": {
        "tags": [
          "Push"
        ],
        "summary": "List Preferences",
        "operationId": "get_api_v1_push_preferences",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Push"
        ],
        "summary": "Replace Preferences",
        "operationId": "put_api_v1_push_preferences",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/push/subscribe": {
      "post": {
        "tags": [
          "Push"
        ],
        "summary": "Create Subscribe",
        "operationId": "post_api_v1_push_subscribe",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/push/subscriptions": {
      "get": {
        "tags": [
          "Push"
        ],
        "summary": "List Subscriptions",
        "operationId": "get_api_v1_push_subscriptions",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/push/subscriptions/{id}": {
      "delete": {
        "tags": [
          "Push"
        ],
        "summary": "Delete Subscriptions",
        "operationId": "delete_api_v1_push_subscriptions_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` path parameter.",
[...]
